<!DOCTYPE html>

{% include 'header.html' %}

<body>
    <h1>Dashboard</h1>
    <ul>
        <li><a href="{{ url_for("admin.contest_setup") }}">Contest Upload</a></li>
        <li><a href="{{ url_for("admin.judge_assignment") }}">Judge Assignment</a></li>
        <li><a href="{{ url_for("admin.results") }}">Generate Finished Results</a></li>
        <li><a href="{{ url_for("admin.tracking") }}">View Judge Progress</a></li>
    </ul>

    <br><a href="{{ url_for("logout") }}">Logout</a></br>
</body>

</html>